h1 {
    color: yellowgreen;
    text-align: center;
}

textarea{
    border-radius: 3%;
    border-color: teal;
    vertical-align: middle;
    padding: 10px 5px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: gold;
    border: none;
    color: white;
    padding: 12px 50px;
    text-decoration: none;
    margin: 8px 350px;
    cursor: pointer;
}
